li{
  list-style: none;
}
.header{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.table_{
  .titleTable_{
    background-color: #fafafa;

  }
  li{
    padding: 10px;
  }
}

.note{
  color: #bfbfbf;
  padding-left: 10px;
  font-size: 90%;
}

.form_add_product{
  li{
    margin-bottom: 10px;
  }
}




