<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <h1 *ngIf="!isCollapsed">QUẢN LÝ CỬA HÀNG</h1>

      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu' : 'menu-fold'"
           style="color: #fff;"
        ></span>
      </span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item (click)="navigate('welcome');currentTitle='Tra cứu hàng hóa'">
        <span nz-icon nzType="search" nzTheme="outline"></span>
        <span>Tra cứu hàng hóa</span>
      </li>
      <li nz-submenu nzTitle="Hàng hóa" nzIcon="code-sandbox" nzOpen >
        <ul>
          <li nz-menu-item (click)="navigate('warehouse');currentTitle='Kho'">
            <span>Kho</span>
          </li>
          <li nz-menu-item (click)="navigate('histories');currentTitle='Lịch sử giao dịch'">
            <span>Lịch sử giao dịch</span>
          </li>
          <li nz-menu-item (click)="navigate('storage');currentTitle='Nhập kho'">
            <span>Nhập hàng</span>
          </li>


        </ul>
      </li>
      <li nz-menu-item (click)="navigate('settings');currentTitle='Cài đặt'">
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        <span>Cài đặt</span>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" style="display: flex;">
        <div class="left" style="width: 50%;display: flex;margin-left: 20px;align-items: center;padding-right: 20px;">
          <h3>{{currentTitle}}</h3>
        </div>
        <div class="right" style="width: 50%;display: flex;justify-content:right;align-items: center;padding-right: 20px;">
          <span nz-icon nzType="redo" *ngIf="isReloadButton" nzTheme="outline" style="color: rgb(54, 162, 235);font-size: 1.5rem;cursor: pointer;" (click)="reloadPage();"></span>
          <span nz-icon nzType="container" nzTheme="outline" style="font-size: 1.5rem;cursor: pointer;margin-left: 20px;" (click)="isVisibleBill=true;isCollapsed=true;"></span>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow-y: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>



<nz-modal [(nzVisible)]="isModify" nzCancelText="Hủy" nzOkText="Đồng ý" nzClosable="false" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <ul>
      <li>
        <span>Chiều dài</span>
        <input nz-input placeholder="Chiều dài" [(ngModel)]="infoModify.length" style="width: 100%;" [disabled]="!(infoModify.style!='qty')"/>
      </li>
      <li>
        <span>Số lượng</span>
        <nz-input-number [nzMin]="1" [nzMax]="100000" [nzStep]="1" [(ngModel)]="infoModify.qty" style="width: 100%;" ></nz-input-number>
      </li>
      <li>
        <span>Đơn giá</span>
        <input nz-input placeholder="Đơn giá" [(ngModel)]="infoModify.price" style="width: 100%;"/>
      </li>
    </ul>
  </ng-container>
</nz-modal>
<nz-drawer
      [nzClosable]="true"
      [nzVisible]="isVisibleBill"
      [nzPlacement]="placement"
      nzTitle="HÓA ĐƠN"
      nzSize="large"
      [nzExtra]="extra"

      (nzOnClose)="isVisibleBill=false"
    >
      <ng-container *nzDrawerContent>
        <nz-table #table_compare [nzData]="this.productsInBill" [nzShowPagination]="false" *ngIf="this.productsInBill.length>0">
          <thead>
            <tr>
              <th>Sản phẩm</th>
              <th>Độ dài</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Thành tiền</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="table_compare.data.length>0">
            <tr *ngFor="let data of table_compare.data;index as i">
              <td>{{data.product.name+' '+data.product.thickness + ' ' +data.product.tm}}</td>
              <td>{{data.product.length}}</td>
              <td>{{data.product.qty}}</td>
              <td>{{(this.crud.formatNumberToPrice(data.product.price))}}</td>
              <td *ngIf="data.product.style=='length'">{{this.crud.formatNumberToPrice(data.product.qty*data.product.length/1000*data.product.price)}}</td>
              <td *ngIf="data.product.style=='qty'">{{this.crud.formatNumberToPrice(data.product.qty*data.product.price)}}</td>
              <td>
                <span nz-icon nzType="delete" nzTheme="outline" style="color:rgb(255, 99, 132);cursor: pointer;" (click)="deleteProductInBill(i)"></span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-icon nzType="edit" nzTheme="outline" style="color:rgb(75, 192, 192);cursor: pointer;" (click)="isModify=true;productToModify(i);"></span>
              </td>
            </tr>
            <tr>
              <td [colSpan]="4" style="text-align: center;">TỔNG:</td>
              <td>{{this.valueBill}}</td>
            </tr>
          </tbody>
        </nz-table>
        <h4 *ngIf="this.productsInBill.length<=0" style="width: 100%;text-align: center;">Chưa có sản phẩm trong đơn hàng</h4>
      </ng-container>
</nz-drawer>

<ng-template #extra>
  <button nz-button nzType="default" *ngIf="this.productsInBill.length>0"
    nz-popconfirm
    nzPopconfirmTitle="Chắc chắn muốn hủy hóa đơn này không ạ?"
    [nzOkText]="'Chắc chắn'"
    [nzCancelText]="'Không'"
    (nzOnConfirm)="cancelBill()"

    (nzOnCancel)="cancel()">Hủy đơn</button>
  <button nz-button (click)="submitBill();" nzType="primary" *ngIf="this.productsInBill.length>0">Chốt đơn</button>
</ng-template>
